@CHARSET "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
    font-weight:bold;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #b3eafd;
}

#wrapper{
    height: 100%;
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 120px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

#footer {
    width: 100%;
    /*background-color: #89c7de;*/
    background-color: #b3eafd;
    color: #333;
    text-align: center;
    padding: 30px 0;
    position: absolute;/*←絶対位置*/
        bottom: 0; /*下に固定*/
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

.bluedainari{
    font-size: 20px;
    font-weight: bold;
    display:inline;
    color :blue;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 30px;
   /* text-align:center;*/
}


li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

/*共通部分の編集終了地点*/


/*ログインページの編集開始地点
・ボタンのデザイン
・入力個所のデザイン
*/


/*ログインページの編集開始地点
・ボタンのデザイン
・入力個所のデザイン
*/

/*元あったやつ消した
button {
    font-size: 14px;
    padding: 5px 10px;
*/

h2.login {
    font-size: 36px;
    margin-bottom: 15px;
    text-align:center;
}

div.login {
   text-align:center;
}

.loginbutton {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 20px;
}
.loginbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/*ログインページの編集終了地点*/

/*toppageの編集*/
.buttoncon{
    width : 100%;
    min-width: 100vw;
}

#topbutton {
  position:relative;
  display: inline-block;
  margin: 0 25px;
  text-decoration: none;
  background: #668ad8;
  color: #ffffff;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  transition: .4s;
}

#topbutton:active { /*ボタン押したときのやつ*/
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}

a#topbuttonlink {
    text-decoration: none;
    font-size: 36px;
    color: #ffffff;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*toppageの編集終了*/

/*メモ作成の編集*/
.display_none{
    display: none;
}

textarea {
    width:30vw;
    resize:none;
}

div.memotextarea{
    display: inline-block;
    font-weight: normal;
    /*position:relative;*/
}

div.flexend{
       clear: both;
}

#memoSubmitButton{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 20px;
}

#memoSubmitButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}



/*
div.memocontent{
    position:absolute;
    width:100%;
    top: 0;
    left: 0;
}*/
/*メモ作成の編集終了*/




/*メモ一覧の編集*/
.memo_buttoncon{
    width : 100%;
    min-width: 100vw;
}


#memobutton{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 20px;

}

#memobutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

a#memobuttonlink {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*メモ一覧の編集終了*/


/*日報作成*/
div.CONTENT{
    float: left;
   width: 30vw;
   margin-right: 3vw;
}

div.CONTENT2{
    float: left;
   width: 30vw;
}


div.OE1 {
   float: left;
   width: 30vw;
   margin-right: 3vw;

}
div.OE2 {
   float: left;
   width: 30vw;
}

div.TOMORROWGOAL {
   clear: both;
}


#reportSubmitButton{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 20px;
}

#reportSubmitButton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

/*日報作成編集終了*/


/*日報一覧*/
#Repbutton{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  font-size: 20px;

}

#Repbutton:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

a#Repbuttonlink {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

/*日報一覧編集終了*/


input{
    border-radius: 3px;
}


table#employee_list th {
    width: 30%;
    padding: 10px 2%;
}

table#employee_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
        background-color: #f2f2f2;
}
tr.row0 {
        background-color: #ffffff;
}
select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#employee_name {
    color: #333333;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #333333;
}

h1 a {
    color: #333333;
    /*もともと#eeeeee*/
}

table#report_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#report_list .report_name {
    width: 20%;
    padding: 10px 2%;
}
table#report_list .report_date {
    width: 20%;
}

table#report_list .report_title {
    width: 37%;
}

table#report_list .report_action {
    width: 13%;
}

pre {
    font-family: "Hiragino Kaku Gothic Pro",Meiryo,"MS PGothic",Helvetica,Arial,sans-serif;
}

h3 {
    font-weight: bold;
    font-size: larger;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}
